Python Exercises

Task 1: Examine the data structures of the given values.
Use the type() method.

In [15]:
x = 8
y = 3.2
z = 8j+18
a = "Hello world"
b = True
c = 23 < 22
l = [1, 2, 3, 4]
d = {"Name": "Jake",
     "Age": 27,
     "Adress": "Downtown"}
t = ("Machine Learning", "Data Science")
s = {"Python", "Machine Learning", "Data Science"}

In [16]:
print(type(x))
print(type(y))
print(type(z))
print(type(a))
print(type(b))
print(type(c))
print(type(l))
print(type(d))
print(type(t))
print(type(s))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'set'>

Task 2: Capitalize all letters of the given string expression. Replace comma and period with space and separate word by word.

In [1]:
text = "The goal is to turn data into information, and information into insight. "

In [5]:
text= text.upper().replace(",", " ").replace(".", " ").split()
print(text)

['THE', 'GOAL', 'IS', 'TO', 'TURN', 'DATA', 'INTO', 'INFORMATION', 'AND', 'INFORMATION', 'INTO', 'INSIGHT']

Task 3: Follow the steps below to the given list.

Step1: See the number of items in the given list.

Step2: Call the first and tenth index elements

Step3: Create a ["D", "A", "T", "A"] list from the given list.

Step4: Delete the element in the eighth index.

Step5: Add a new element.

Step6: Repeat the "N" element in the eighth index.

In [8]:
lst = ['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E'] # given list

In [11]:
print(len(lst))

11

In [13]:
print(lst[0])
print(lst[10])

D
E

In [15]:
new_lst = lst[:4]
print(new_lst)

['D', 'A', 'T', 'A']

In [16]:
lst.pop(8)
print(lst)

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']

In [17]:
lst.append("E")
print(lst)

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E', 'E']

In [24]:
lst.insert(7,"N")
print(lst)

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'N', 'N', 'C', 'E', 'E']

Task 4: Apply the following steps to the given dictionary structure.

Step1: Access the key values.

Step2: Access the values.

Step3: Update the value of 12 of the Daisy key to 13.

Step4: Add a new value whose key value is Ahmet value [Turkey,24].

Step5: Delete Antonio from the dictionary.

In [25]:
dictionary = {'Christian':["America",18],
    'Daisy':["England",12],
    'Antonio':['Spain',22],
    'Dante':['Italy',25]}

In [26]:
dictionary.keys()

dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])

In [27]:
dictionary.values()

dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])

In [28]:
dictionary['Daisy'][1] = 13
print(dictionary['Daisy'])

['England', 13]

In [29]:
dictionary['Ahmet'] = ['Turkey',24]
print(dictionary['Ahmet'])

['Turkey', 24]

In [30]:
dictionary.pop('Antonio')
print(dictionary.keys())

dict_keys(['Christian', 'Daisy', 'Dante', 'Ahmet'])

Task 5: Take a list as an argument, write a function that assigns the odd and even numbers in the list to separate lists, and returns the findlists.

You have to access the list elements one by one.

You can use the % structure to check whether each element is even or odd.

In [20]:
l = [2, 13, 18, 93, 22]
even_list = []
odd_list = []


def list_seperator(l):
    for i in l:
        if i % 2 == 0:
            even_list.append(i)
        else: 
            odd_list.append(i)
    return even_list, odd_list

even_list, odd_list = list_seperator(l)

In [21]:
print("Even list:",even_list)
print("Odd list:",odd_list)

Even list: [2, 18, 22]
Odd list: [13, 93]

Task 6: In the list given below, there are the names of the students who entered the degree in engineering and medicine. Respectively, the first three students represent the order of success of the engineering faculty, while the last three students belong to the order of the medical faculty. Print student degrees by faculty using enumarate

In [22]:
ogrenciler = ["Ali", "Veli", "Ay≈üe", "Talat", "Zeynep", "Ece"]

In [23]:
for index, ogrenciler in enumerate(ogrenciler):
    if index <= 2:
        print(f"Engineering faculty {index+1} . Student: {ogrenciler}")
    else:
        print(f"Medicine faculty {index-2} . Student: {ogrenciler}")

Engineering faculty 1 . Student: Ali
Engineering faculty 2 . Student: Veli
Engineering faculty 3 . Student: Ay≈üe
Medicine faculty 1 . Student: Talat
Medicine faculty 2 . Student: Zeynep
Medicine faculty 3 . Student: Ece

Task 7: Three lists are given below. In the lists, there is a rank code, credit and quota information in order. Print course information using zip.

In [24]:
ders_kodu = ['CMP1005','PSY1001','HUK1005','SEN2204']
kredi = [3,4,2,4]
kontenjan = [30,75,150,25]

In [27]:
info = list(zip(ders_kodu,kredi,kontenjan))

In [28]:
print(info)

[('CMP1005', 3, 30), ('PSY1001', 4, 75), ('HUK1005', 2, 150), ('SEN2204', 4, 25)]

Task 8: Below 2 sets are given. You are expected to define the function that will print the common elements of set 1 if it covers set 2 and the difference of set 2 from set 1 if it does not.

In [29]:
set1 = set(['data','python'])
set2 = set(['data','function','qcut','lambda','python','miuul'])

In [30]:
if set1.issuperset(set2):
    print(set1.intersection(set2))
    
else:
    print(set2.difference(set1))

{'miuul', 'qcut', 'lambda', 'function'}